* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn_one i {
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.3s linear;
   
}

.sidebar_menu {
  position: fixed;
  left: -350px;
  height: 100vh;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.547);
  box-shadow: 0 0 6px rgb(0, 0, 0);
  transition: all 0.5s linear;

}

.sidebar_menu .logo {
  
  position: absolute;
  width: 100vh;
  line-height: 60px;
  box-shadow: 0 0 4px rgb(255, 255, 255);



}

.sidebar_menu .logo a {
  position: absolute;
  left: 50px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}

.sidebar_menu .menu {
  position: absolute;
  width: 100%;
  top: 80px;
}

.sidebar_menu .btn_two i {
  color: grey;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 270px;
  line-height: 60px;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}


.sidebar_menu .menu li {
  left: 6px;
  padding: 14px 20px;

}

.sidebar_menu .menu i,
a {
  text-decoration: none;
  color: #000000;
  font-size: 25px;

}

.sidebar_menu .menu i {
  padding-right: 8px;
}

.sidebar_menu .social_media {
  color: #5b2626;
  position: absolute;

  padding-left: 25%;
  bottom: 60px;
}

.sidebar_menu .social_media i {
  padding: 2px;
  opacity: 0.4;
}

#check {
  display: none;
}

.sidebar_menu .menu li:hover {
  box-shadow: 0 0 4px rgb(17, 15, 15);

}

.btn_one i :hover {
  font-size: 50px;
  box-shadow:4px yellowgreen;
}

.btn_two i :hover {
  font-size: 50px;
  box-shadow: 0 0 4px yellowgreen;
}

.sidebar_menu .social_media i:hover {
  opacity: 1;
  font-size: 30;
  transform: scale(1.3);
}

#check:checked~.sidebar_menu {
  left: 0;
}

#check:checked~.btn_one i {
  opacity: 0;
}

#check:checked~.sidebar_menu .btn_two i {
  opacity: 1;
}

.card {
  width: 400px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

#body{
  height: 100vh;
  background-color: #000000;
}
img {
  width: 100%;
  border-radius: 25px;
}

h2 {
  padding-left: 150px;
  color: #ffffff;
  background-color: black;
  
}

h1 {
   padding-left: 150px;
  color: #ffffff;
  background-color: black;
}

span {
  color: #ffffff;
  background-color: black;
}

h4 {
  text-align: right;
  color: #ffffff;
  background-color: black;
}

p {
  color: #ffffff;
}

#pets {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
}

@media (min-width:396px) {
  #pets {
    flex-wrap: wrap;
  }
}